# link-workspace-packages = true
# prefer-workspace-packages = true
# recursive-install = truelink-workspace-packages = true
# ignore-workspace-root-check=true
# auto-install-peers=true
# node-linker=hoisted

shamefully-hoist=true
strict-peer-dependencies=false
shell-emulator=true
package-manager-strict=false

registry=https://registry.npmmirror.com/
# registry=https://registry.npmjs.org/