@use '../../assets/scss/mixin.scss' as *;
.search-table {
  height: 100%;
  @include flex-col-start-start;
  :deep(.el-table) {
    border-radius: 8px 8px 0 0;
    th {
      background-color: #f3f3f3;
    }
  }
  &__content {
    width: 100%;
    margin-top: 10px;
    flex: 1;
  }
  &__pagination {
    width: 100%;
    @include flex-end-center;
    .el-pagination {
      @include flex-end-center;
    }
  }
}
