@use './mixins/mixin.scss' as *;
@use './default/variable.scss' as *;

@include bem('virtual-list') {
  &__container {
    position: relative;
    overflow: auto;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    .loading-spinner {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 8px;
      border: 2px solid #e4e7ed;
      border-top-color: #409eff;
      border-radius: 50%;
      animation: spin 0.6s linear infinite;
    }
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }
  &__loading-tip,
  &__finished-tip {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #909399;
    font-size: 14px;
    background-color: #fff;
  }
  &__phantom {
    position: relative;
    width: 100%;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  &__item {
    box-sizing: border-box;
  }
}
